<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link href="./static/css/login.css" rel="stylesheet">
    <link href="./static/js/plugin/layui-v2.7.6/css/layui.css" rel="stylesheet">
    <script src="./static/js/plugin/jquery3.6.1.js"></script>
    <script src="./static/js/plugin/layui-v2.7.6/layui.js"></script>
</head>
<body>
<div class="login-box">
    <div class="left-content"></div>
    <div class="right-content">
        <div class="login">
            <div class="logo"><img src="./static/img/login_logo.png" alt=""></div>
            <p>中小企业客户管理系统</p>
            <p>
                <input class="username" type="text" placeholder="用户名">
            </p>
            <p>
                <input class="passwd" type="password" placeholder="密码">
            </p>
            <p>
                <button class="login-btn" type="button">登录</button>
                <button class="register-btn" type="button">注册</button>
            </p>
            <p class="forget-passwd-p">
                <a class="forget-passwd" href="#">忘记密码</a>
            </p>
        </div>
    </div>
</div>
<script src="./static/js/login/login.js"></script>
</body>
</html>